.article{
    margin-top: 105px;
    & .block-list img{
        width: 100%;
        height: 100%;
    }
    & .article__article{
        margin-bottom: 50px;
        margin-top: 20px;
        & p{
            font-size: 14px;
            line-height: 22px;
        }
        & p:not(:last-child){
            margin-bottom: 10px;
        }
    }
}
.title-img{
    width: 100%;
    margin-bottom: 25px;
    & img{
        height: 100%;
    }
}
.quote{
    font-size: 20px;
    line-height: 36px;
    font-weight: 600;
    padding: 35px 0;
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .article{
        & .article__article{
            margin-top: 35px;
            margin-bottom: 130px;
            & p{
                font-size: 16px;
                line-height: 29px;
            }
            & p:not(:last-child){
                margin-bottom: 20px;
            }
        }
    }
}

.article-elem{
    & .block-list{
        margin-top: 40px;
        margin-bottom: 60px;
    }
}

.article__type{
    width: 75px;
    border-radius: 6px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    &--red{
       background-color: #ff63634d;
        & p{
            color: #FF6363; 
        }
    }
    &--blue{
       background-color: #56AEFF4d;
        & p{
            color: #56AEFF; 
        }
    }
    &--green{
       background-color: #3FD09C4d;
        & p{
            color: #3FD09C; 
        }
    }
    & p{
       font-size: 11px;
       line-height: 15px;
       font-weight: 600;
    }
    
}
.article__title{
    margin-bottom: 10px;
    & h1{
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        line-height: 26px;
    }
}
.article__text{
    margin-bottom: 15px;
    & p{
        font-size: 12px;
        line-height: 19px;
        color: #909599;
    }
}
.article__autor{
    & p{
       font-size: 12px;
       line-height: 19px;
       font-weight: 700; 
    }
    & span{
        font-size: 11px;
        line-height: 17px;
        font-weight: 500; 
        color: #909599;
    }
}
@media (min-width: 768px) {
    .article__title{
        & h1{
            font-size: 32px;
            line-height: 39px;
        }
    }
}
