.partners{
    padding: 50px 0;
    & h3{
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 30px;
        text-align: center;
    }
}
.partners-btns{
    margin-top: 30px;
}
.partner-box{
    width: 150px;
    padding: 20px;
    margin: 0 auto;
}
@media (min-width: 1190px) {
    .partners{
        & h3{
            font-family: "Montserrat", sans-serif;
            font-size: 20px;
            line-height: 28px;
        }
    }
}